.App {
    height: 100vh;
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date {
    color: white;
    font-size: 4em;
}

.time {
    color: white;
    font-size: 4.5em;
}